 
# Virtual environment
venv/

# Secrets
.env

# Python cache
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Ignore datasets
data/